<!doctype html>
<html lang="en">

<head>
    <title>GestioneMagazzini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body>
    <div class="titlePadding">
        <h1 class="display-5 text-primary text-start">GestioneMagazzini</h1>
    </div>
    <div class="headerPadding">
        <div class="my-5 mt-5">
            <h1 class="display-5 fw-light"><strong>Gestione ristoccaggio magazzino</strong></h1>
        </div>
    </div>
    <div id="app" class="pagePadding">
        <button class="btn btn-warning btn-outline-secondary" type="button" id="button-addon3" @click="step=1;filteredItems=items;">STEP 1</button>
        <div v-if="step==1" class="step-1">
            <div class="card p-2" style="display: flex;">
                <div class="row">
                    <div class="col-auto">
                        <i class="bi bi-search h4"></i>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control shadow-none" style="border: 0; outline:0ch" v-model="searchInput" placeholder="Di cosa hai bisogno oggi?">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-warning btn-outline-secondary shadow-none" type="button" style="color:white;">CERCA</button>
                    </div>
                </div>
            </div>
            <h3 class="mt-4 pt-4">Risultati</h3>
            <div class="card my-3 p-2" v-for="item in filteredItems">
                <div class="row align-items-center m-1 p-1">
                    <div class="col-8">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text text-truncate">{{item.description}}</p>
                    </div>
                    <div class="col-4 text-end">
                        <button class="btn btn-outline-secondary" @click="step=2;getStores(item.id);" style="color:white; background-color:rgba(117, 202, 96, 0.878);">NOME CTA</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="step-2">
            <div class="card my-3" v-for="store in stores">
                <div class="card-body">
                    <h5 class="card-title">{{store.storeName}}</h5>
                    <p class="card-text">Distanza: <strong>{{store.distance}}km</strong></p>
                    <a @click="showModal=true" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">NOME CTA</a>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .pagePadding {
        padding: 0vh 25vh 20vh 25vh;
        margin: 0vh 25vh 20vh 25vh;
        background-color: transparent;
    }

    .headerPadding {
        padding: 0vh 25vh 0vh 25vh;
        background-color: transparent;
    }

    .titlePadding {
        padding: 5vh 25vh 0vh 25vh;
        background-color: transparent;
    }

    .myImage {
        height: 100vh;
        background-size: cover;
        background-image: url('bg-monitor.png');
        background-repeat: no-repeat;
    }

    .socialImage {
        height: 100px;
        width: 100px;
        margin: auto;
        display: block;
    }

    .cardImage {
        background: transparent !important;
        margin: 0 auto;
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            searchInput: '',
            items: [],
            filteredItems: [],
            stores: [],
            step: 1,
            showModal: false

        },
        mounted() {
            this.setItems();
        },
        methods: {
            alphabeticSort(array) {
                return array.sort((a, b) => a.name.localeCompare(b.name));
            },
            getStores(id) {
                $.ajax({
                    url: "api/api.php",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        action: "stores",
                        id: id
                    }),
                    success: function (result) {
                        this.stores = result;
                        this.step = 2;
                    }.bind(this),
                    error: function (err) {
                        console.log(err);
                    }
                })
            },
            setItems() {
                $.ajax({
                    url: "api/api.php",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        action: "items"
                    }),
                    success: function (result) {
                        this.items = this.alphabeticSort(result);
                        this.filteredItems = this.items
                    }.bind(this),
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        },
        watch: {
            searchInput: function () {
                if (this.searchInput) {
                    this.filteredItems = [];
                    res = this.items.filter(item => item.name.toLowerCase().includes(this.searchInput.toLowerCase()) || item.description.toLowerCase().includes(this.searchInput.toLowerCase()))
                    this.filteredItems = this.alphabeticSort(res);
                } else {
                    this.filteredItems = this.items
                }
            }
        }
    });
</script>

</html>