.pagePadding {
    margin: 0vh 25vh 20vh 25vh;
    background-color: transparent;
}

.headerPadding {
    padding: 0vh 25vh 0vh 25vh;
    background-color: transparent;
}

.titlePadding {
    padding: 5vh 25vh 0vh 25vh;
    background-color: transparent;
}

.cardImage {
    background: transparent !important;
    margin: 0 auto;
}